@import "_fonts";
@import "_mq";


.ios,
.android {
    .article--immersive {
        a {
            color: #000000 !important;
            border-color: #bdbdbd !important;

            &:hover,
            &:active {
                border-color: #333333 !important;
            }
        }

        .element-pullquote blockquote p,
        .has__dropcap:first-letter {
            font-weight: 600 !important;
            color: #333333 !important;
        }
    }
}
